[Unit]
Description=Description for sample script goes here
After=network.target

[Service]
Type=simple
ExecStart=/var/local/rig.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
